<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Projects</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="shortcut icon"
      href="assests/logo.png"
      type="image/x-icon"
    />
  </head>
  <body style="color: #fff;background-color: #000;">
    <div class="home-page">
        <a href="/"><img src="assests/logo2.png" alt="COLLABORATE" class="img-home"/></a>
        <h1 class="head-home">COLLABORATE Wb4Job Guelmim</h1>
        <p class="pargh-home">A project management tool for developers</p>
        <div class="btns-home">
            <a href="/sing_up" class="btns">Sign up</a>
            <a href="/login" class="btns">Login</a>
        </div>
    </div>
  </body>
</html>
