<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Projects - Login</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="shortcut icon"
      href="assests/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="singUp-page">
        <a href="/"><img src="assests/logo.png" alt="COLLABORATE" class="img-singUp"/></a>
        <h1 class="head-home">Login</h1>
        <% if session[:message] %>
            <div id="alert-message" style="padding: 10px; border-radius:5px; margin-bottom:10px; margin-top:10px;  
                <% if session[:type] == 'success' %>background-color:#d4edda; color:#155724;<% else %>background-color:#f8d7da; color:#721c24;<% end %>">
                <%= session[:message] %>
            </div>

            <% session[:message] = nil %>
            
            <script>
                setTimeout(function() {
                var alertDiv = document.getElementById("alert-message");
                if (alertDiv) {
                    alertDiv.style.display = "none";
                }
                }, 3000);
            </script>
        <% end %>
        <form action="/login" class="form-rl" method="POST">
            <div class="lable_i">
                <label for="email">Email</label>
                <input name="email" type="email" />
            </div>
            <div class="lable_i">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <input type="submit" class="btns" value="Login">
            <p>Don’t have an account? <a href="/sing_up">Sing up</a></p>
        </form>
    </div>
  </body>
</html>
