<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Projects - Sing up</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="shortcut icon"
      href="assests/logo.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="singUp-page">
        <a href="/"><img src="assests/logo.png" alt="COLLABORATE" class="img-singUp"/></a>
        <h1 class="head-home">Sing up</h1>
        <form action="" class="form-rl">
            <div id="lable-name">
                <label for="name">Name</label>
                <input name="name" type="text" />
            </div>
            <div id="lable-email">
                <label for="email">Email</label>
                <input name="email" type="email" />
            </div>
            <div id="lable-password">
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <div id="lable-password-conf">
                <label for="password-conf">Password confirmation</label>
                <input name="password-conf" type="password" />
            </div>
            <input type="submit" class="btns" value="Sing up">
            <p>Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
  </body>
</html>
