<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Projects</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link
      rel="shortcut icon"
      href="/assests/logo.png"
      type="image/x-icon"
    />
  </head>
  <style>
    .home-user-page .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
    .home-user-page .header ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:20px;
    }
    li{
        cursor: pointer;
    }
    .img-header{
        width:50px;
        height:50px;
    }
    .projects{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
  </style>
  <body>
    <div class="home-user-page">
        <div class="header">
            <a href="/"><img src="/assests/logo.png" alt="COLLABORATE" class="img-header"/></a>
            <ul>
                <li class="icon-header" style="color: #9484b2;"><i class="fa-solid fa-plus"></i></i> Add Project</li>
                <li class="icon-header" style="color: #9484b2;"><i class="fa-solid fa-gear"></i> Edit Project</li>
                <li class="icon-header" style="color: #9484b2;"><i class="fa-solid fa-right-from-bracket"></i> Log Out</li>
            </ul>
        </div>
        <h1 class="head-home">Projects</h1>
        <div class="projects">
            <div>
                <h3><i class="fa-solid fa-atom"></i> All Projects</h3>
                <div>
                    <div>
                        <h2>title project</h2>
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <p><i class="fa-solid fa-pen-clip"></i> email@gmail.com</p>
                </div>
                <div>
                    Discription
                </div>
                <div>
                    <div><i class="fa-solid fa-users"></i><p>1</p><i class="fa-regular fa-comments"></i><p>0</p></div>
                    <form>
                        <i class="fa-regular fa-trash-can"></i>
                    </form>
                </div>
            </div>
            <div>
                <h3><i class="fa-solid fa-plus"></i> Created by me</h3>
                <div>
                    <div>
                        <h2>title project</h2>
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <p><i class="fa-solid fa-pen-clip"></i> email@gmail.com</p>
                </div>
                <div>
                    Discription
                </div>
                <div>
                    <div><i class="fa-solid fa-users"></i><p>1</p><i class="fa-regular fa-comments"></i><p>0</p></div>
                    <form>
                        <i class="fa-regular fa-trash-can"></i>
                    </form>
                </div>
            </div>
            <div>
                <h3><i class="fa-solid fa-users"></i> Shared with me</h3>
                <div>
                    <div>
                        <h2>title project</h2>
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <p><i class="fa-solid fa-pen-clip"></i> email@gmail.com</p>
                </div>
                <div>
                    Discription
                </div>
                <div>
                    <div><i class="fa-solid fa-users"></i><p>1</p><i class="fa-regular fa-comments"></i><p>0</p></div>
                    <form>
                        <i class="fa-regular fa-trash-can"></i>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
